html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5em;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: .4em .75em .3em;
  background-color: #000;
  border-radius: 8px;
  border: 3px;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  background-color: #fff;
  color: #000;
}

.btn-ghost:hover {
  background-color: #666;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
}

.btn-warning:hover {
  background-color: #933;
}

.btn .btn-small {
  display: inline-block;
  padding: .4em .75em .3em;
  background-color: #000;
  border-radius: 8px;
  border: 3px;
  color: #fff;
  text-decoration: none;
}

.btn .btn-small:hover {
  background-color: #000;
}

.btn-subtle .btn-small {
  background-color: #ccc;
  color: #fff;
}

.btn-subtle .btn-small:hover {
  background-color: #666;
}

.btn-ghost .btn-small {
  background-color: #fff;
  color: #000;
}

.btn-ghost .btn-small:hover {
  background-color: #666;
}

.btn-warning .btn-small {
  background-color: #f33;
  color: #fff;
}

.btn-warning .btn-small:hover {
  background-color: #933;
}
